<% non_seq_total_votes = 0 %>
<% non_seq_total_voters = 0 %>
<% non_seq_total_duration = 0 %>

<% seq_exp_total_votes = 0 %>
<% seq_exp_total_voters = 0 %>
<% seq_exp_total_duration = 0 %>

<% seq_total_votes = 0 %>
<% seq_total_voters = 0 %>
<% seq_total_duration = 0 %>

<% @ballots.each do |ballot| %>
	<%= ballot.id %></br>
	<%= ballot.theme %></br>
	<%= ballot.organization %></br>
	<% if ballot.finished_at != nil %>
		<%= distance_of_time_in_words(ballot.created_at, ballot.finished_at) %>
	<% end %>
	<% @races = ballot.races %>
	<% count = 0 %>
	<% no_preference = 0 %>

	<% @races.each do |r| %>
		<% if r.vote != nil %>
			<% count = count + 1 %>
			<% if r.vote.candidate == "No Preference"%>
				<% no_preference = no_preference + 1 %>
			<% end %>
		<% end %>
	<% end %>

	<% if ballot.organization == "n" %>
		<% non_seq_total_voters = non_seq_total_voters + 1 %>
		<% non_seq_total_votes = non_seq_total_votes + count %>
		<% if ballot.finished_at != nil %>
			<% non_seq_total_duration = non_seq_total_duration + ((ballot.finished_at - ballot.created_at)/60).round %>
		<% end %>
	<% end %>

	<% if ballot.organization == "s_expl_after" %>
		<% seq_exp_total_voters = seq_exp_total_voters + 1 %>
		<% seq_exp_total_votes = seq_exp_total_votes + count - no_preference %>
		<% if ballot.finished_at != nil %>
			<% seq_exp_total_duration = seq_exp_total_duration + ((ballot.finished_at - ballot.created_at)/60).round %>
		<% end %>
	<% end %>

	<% if ballot.organization == "s_after" %>
		<% seq_total_voters = seq_total_voters + 1 %>
		<% seq_total_votes = seq_total_votes + count %>
		<% if ballot.finished_at != nil %>
			<% seq_total_duration = seq_total_duration + ((ballot.finished_at - ballot.created_at)/60).round %>
		<% end %>
	<% end %>

	</br>Voted in: <%= count %>/<%= @races.count %> races</br>
	<% if ballot.organization == "s_expl_after" || ballot.organization == "s_exp" %>
		Voted "No Preference" <%= no_preference %> times</br>
	<% end %>
	
	</br>
<% end %>

<p><b>Non Sequential Data:</b></p>
<p>Number of Voters: <%= non_seq_total_voters %></p>
<p>Average # of votes: <%= non_seq_total_votes / non_seq_total_voters.to_f %></p>
<p>Average duration: <%= non_seq_total_duration / non_seq_total_voters %></p></br>

<p><b>Sequential Explicit Data:</b></p>
<p>Number of Voters: <%= seq_exp_total_voters %></p>
<p>Average # of votes: <%= seq_exp_total_votes / seq_exp_total_voters.to_f %></p>
<p>Average duration: <%= seq_exp_total_duration / seq_exp_total_voters %></p></br>

<p><b>Sequential Data:</b></p>
<p>Number of Voters: <%= seq_total_voters %></p>
<p>Average # of votes: <%= seq_total_votes / seq_total_voters.to_f %></p>
<p>Average duration: <%= seq_total_duration / seq_total_voters %></p>