<!-- Breakdown of the six: !-->

<% non_seq_total_votes = 0 %>
<% non_seq_total_voters = 0 %>
<% non_seq_total_duration = 0 %>

<% seq_exp_total_votes = 0 %>
<% seq_exp_total_voters = 0 %>
<% seq_exp_total_duration = 0 %>

<% seq_total_votes = 0 %>
<% seq_total_voters = 0 %>
<% seq_total_duration = 0 %>

<% pol_total_votes = 0 %>
<% pol_total_voters = 0 %>
<% pol_total_duration = 0 %>

<% rice_total_votes = 0 %>
<% rice_total_voters = 0 %>
<% rice_total_duration = 0 %>

<!-- Breakdown of the six: !-->

<% rice_non_total_votes = 0 %>
<% rice_non_total_voters = 0 %>
<% rice_non_total_duration = 0 %>

<% pol_non_total_votes = 0 %>
<% pol_non_total_voters = 0 %>
<% pol_non_total_duration = 0 %>

<% rice_seq_total_votes = 0 %>
<% rice_seq_total_voters = 0 %>
<% rice_seq_total_duration = 0 %>

<% pol_seq_total_votes = 0 %>
<% pol_seq_total_voters = 0 %>
<% pol_seq_total_duration = 0 %>

<% rice_seq_ex_total_votes = 0 %>
<% rice_seq_ex_total_voters = 0 %>
<% rice_seq_ex_total_duration = 0 %>

<% pol_seq_ex_total_votes = 0 %>
<% pol_seq_ex_total_voters = 0 %>
<% pol_seq_ex_total_duration = 0 %>

<!-- Per race breakdown !-->
<% political_races = Array.new(27, 0) %>
<% rice_races = Array.new(27, 0) %>

<!-- Average time per race !-->
<% non_seq_races = Array.new(27, 0) %>
<% seq_races = Array.new(27, 0) %>
<% seq_exp_races = Array.new(27, 0) %>
<% prev_seq = 0 %>
<% prev_seq_exp = 0 %>

<% males = 0 %>
<% females = 0 %>
<% age = 0 %>

<% @ballots.each do |ballot| %>

	<% next if ballot.id == 66 || ballot.id == 87 || ballot.id == 89 || ballot.id == 96 || ballot.id == 99 || ballot.id == 98 || ballot.id == 97 || ballot.id == 47 || ballot.id == 52 %>
	<%= ballot.id %></br>
	<%= ballot.theme %></br>
	<%= ballot.organization %></br>
	<% if ballot.finished_at != nil %>
		<%= distance_of_time_in_words(ballot.created_at, ballot.finished_at) %>
	<% end %>
	<% @races = ballot.races.order(:created_at) %>
	<% @demographics = ballot.demographics %>

	<% if @demographics %>
		<% if @demographics.gender == "male" %>
			<% males = males + 1 %>
		<% elsif @demographics.gender == "female" %>
			<% females = females + 1 %>
		<% end %>
		<% if @demographics.age %>
			<% age = age + @demographics.age %>
			<p> AGE: <%= age %> </p>
		<% end %>
	<% end %>

	<% count = 0 %>
	<% no_preference = 0 %>

	<% position = 0 %>
	<% last_race = nil %>
	<% @races.each do |r| %>
		<% if position == 0 %>
			<%= r.title %>
		<% end %>
		<% if r.vote != nil %>
			<% if ballot.theme == "political" %>
				<% political_races[position] = political_races[position] + 1 %>
			<% else %>
				<% rice_races[position] = rice_races[position] + 1 %>
			<% end %>

			<% if ballot.organization == "n" %>

			<% elsif ballot.organization == "s_expl_after" %>
				<% if position == 0 %>
					<% prev_seq = (r.updated_at - @demographics.updated_at) %>
				<% else %>
					<% prev_seq = (r.updated_at - last_race.updated_at) %>
				<% end %>
				<% seq_races[position] = seq_races[position] + prev_seq %>
			<% elsif ballot.organization == "s_after" %>
				<% if position == 0 %>
					<% prev_seq_exp = (r.updated_at - @demographics.updated_at) %>
				<% else %>
					<% prev_seq_exp = (r.updated_at - last_race.updated_at) %>
				<% end %>
				<% seq_exp_races[position] = seq_races[position] + prev_seq_exp %>
			<% end %>

			<% count = count + 1 %>
			<% if r.vote.candidate == "No Preference"%>
				<% no_preference = no_preference + 1 %>
			<% end %>

		<% end %>
		<% position = position + 1 %>
		<% last_race = r %>
	<% end %>

	<% if ballot.organization == "n" %>
		<% non_seq_total_voters = non_seq_total_voters + 1 %>
		<% non_seq_total_votes = non_seq_total_votes + count %>
		<% if ballot.finished_at != nil %>
			<% non_seq_total_duration = non_seq_total_duration + ((ballot.finished_at - ballot.created_at)/60).round %>
		<% end %>

		<% if ballot.theme == "political" %>
			<% pol_non_total_voters = pol_non_total_voters + 1 %>
			<% pol_non_total_votes = pol_non_total_votes + count %>
			<% if ballot.finished_at != nil %>
				<% pol_non_total_duration = pol_non_total_duration + ((ballot.finished_at - ballot.created_at)/60).round %>
			<% end %>
		<% else %>
			<% rice_non_total_voters = rice_non_total_voters + 1 %>
			<% rice_non_total_votes = rice_non_total_votes + count %>
			<% if ballot.finished_at != nil %>
				<% rice_non_total_duration = rice_non_total_duration + ((ballot.finished_at - ballot.created_at)/60).round %>
			<% end %>
		<% end %>

	<% end %>

	<% if ballot.organization == "s_expl_after" %>
		<% seq_exp_total_voters = seq_exp_total_voters + 1 %>
		<% seq_exp_total_votes = seq_exp_total_votes + count - no_preference %>
		<% if ballot.finished_at != nil %>
			<% seq_exp_total_duration = seq_exp_total_duration + ((ballot.finished_at - ballot.created_at)/60).round %>
		<% end %>

		<% if ballot.theme == "political" %>
			<% pol_seq_ex_total_voters = pol_seq_ex_total_voters + 1 %>
			<% pol_seq_ex_total_votes = pol_seq_ex_total_votes + count - no_preference %>
			<% if ballot.finished_at != nil %>
				<% pol_seq_ex_total_duration = pol_seq_ex_total_duration + ((ballot.finished_at - ballot.created_at)/60).round %>
			<% end %>
		<% else %>
			<% rice_seq_ex_total_voters = rice_seq_ex_total_voters + 1 %>
			<% rice_seq_ex_total_votes = rice_seq_ex_total_votes + count - no_preference %>
			<% if ballot.finished_at != nil %>
				<% rice_seq_ex_total_duration = rice_seq_ex_total_duration + ((ballot.finished_at - ballot.created_at)/60).round %>
			<% end %>
		<% end %>


	<% end %>

	<% if ballot.organization == "s_after" %>
		<% seq_total_voters = seq_total_voters + 1 %>
		<% seq_total_votes = seq_total_votes + count %>
		<% if ballot.finished_at != nil %>
			<% seq_total_duration = seq_total_duration + ((ballot.finished_at - ballot.created_at)/60).round %>
		<% end %>

		<% if ballot.theme == "political" %>
			<% pol_seq_total_voters = pol_seq_total_voters + 1 %>
			<% pol_seq_total_votes = pol_seq_total_votes + count %>
			<% if ballot.finished_at != nil %>
				<% pol_seq_total_duration = pol_seq_total_duration + ((ballot.finished_at - ballot.created_at)/60).round %>
			<% end %>
		<% else %>
			<% rice_seq_total_voters = rice_seq_total_voters + 1 %>
			<% rice_seq_total_votes = rice_seq_total_votes + count %>
			<% if ballot.finished_at != nil %>
				<% rice_seq_total_duration = rice_seq_total_duration + ((ballot.finished_at - ballot.created_at)/60).round %>
			<% end %>
		<% end %>


	<% end %>

	<% if ballot.theme == "rice" %>
		<% rice_total_voters = rice_total_voters + 1 %>
		<% rice_total_votes = rice_total_votes + count - no_preference%>
		<% if ballot.finished_at != nil %>
			<% rice_total_duration = rice_total_duration + ((ballot.finished_at - ballot.created_at)/60).round %>
		<% end %>
	<% end %>

	<% if ballot.theme == "political" %>
		<% pol_total_voters = pol_total_voters + 1 %>
		<% pol_total_votes = pol_total_votes + count - no_preference %>
		<% if ballot.finished_at != nil %>
			<% pol_total_duration = pol_total_duration + ((ballot.finished_at - ballot.created_at)/60).round %>
		<% end %>
	<% end %>

	</br>Voted in: <%= count %>/<%= @races.count %> races</br>
	<% if ballot.organization == "s_expl_after" || ballot.organization == "s_exp" %>
		Voted "No Preference" <%= no_preference %> times</br>
	<% end %>
	
	</br>
<% end %>

<p><b>Non Sequential Data:</b></p>
<p>Number of Voters: <%= non_seq_total_voters %></p>
<p>Average # of votes: <%= non_seq_total_votes / non_seq_total_voters.to_f %></p>
<p>Average duration: <%= non_seq_total_duration / non_seq_total_voters %></p></br>

<p><b>Sequential Explicit Data:</b></p>
<p>Number of Voters: <%= seq_exp_total_voters %></p>
<p>Average # of votes: <%= seq_exp_total_votes / seq_exp_total_voters.to_f %></p>
<p>Average duration: <%= seq_exp_total_duration / seq_exp_total_voters %></p></br>

<p><b>Sequential Data:</b></p>
<p>Number of Voters: <%= seq_total_voters %></p>
<p>Average # of votes: <%= seq_total_votes / seq_total_voters.to_f %></p>
<p>Average duration: <%= seq_total_duration / seq_total_voters %></p></br>

<p><b>Rice Data:</b></p>
<p>Number of Voters: <%= rice_total_voters %></p>
<p>Average # of votes: <%= rice_total_votes / rice_total_voters.to_f %></p>
<p>Average duration: <%= rice_total_duration / rice_total_voters %></p></br>

<p><b>Political Data:</b></p>
<p>Number of Voters: <%= pol_total_voters %></p>
<p>Average # of votes: <%= pol_total_votes / pol_total_voters.to_f %></p>
<p>Average duration: <%= pol_total_duration / pol_total_voters %></p></br>

<!-- Six Breakdown: !-->

<p><b>Rice Non Data:</b></p>
<p>Number of Voters: <%= rice_non_total_voters %></p>
<p>Average # of votes: <%= rice_non_total_votes / rice_non_total_voters.to_f %></p>
<p>Average duration: <%= rice_non_total_duration / rice_non_total_voters %></p></br>

<p><b>Pol Non Data:</b></p>
<p>Number of Voters: <%= pol_non_total_voters %></p>
<p>Average # of votes: <%= pol_non_total_votes / pol_non_total_voters.to_f %></p>
<p>Average duration: <%= pol_non_total_duration / pol_non_total_voters %></p></br>

<p><b>Rice Seq Data:</b></p>
<p>Number of Voters: <%= rice_seq_total_voters %></p>
<p>Average # of votes: <%= rice_seq_total_votes / rice_seq_total_voters.to_f %></p>
<p>Average duration: <%= rice_seq_total_duration / rice_seq_total_voters %></p></br>

<p><b>Pol Seq Data:</b></p>
<p>Number of Voters: <%= pol_seq_total_voters %></p>
<p>Average # of votes: <%= pol_seq_total_votes / pol_seq_total_voters.to_f %></p>
<p>Average duration: <%= pol_seq_total_duration / pol_seq_total_voters %></p></br>

<p><b>Rice Seq Ex Data:</b></p>
<p>Number of Voters: <%= rice_seq_ex_total_voters %></p>
<p>Average # of votes: <%= rice_seq_ex_total_votes / rice_seq_ex_total_voters.to_f %></p>
<p>Average duration: <%= rice_seq_ex_total_duration / rice_seq_ex_total_voters %></p></br>

<p><b>Pol Seq Ex Data:</b></p>
<p>Number of Voters: <%= pol_seq_ex_total_voters %></p>
<p>Average # of votes: <%= pol_seq_ex_total_votes / pol_seq_ex_total_voters.to_f %></p>
<p>Average duration: <%= pol_seq_ex_total_duration / pol_seq_ex_total_voters %></p></br>

<% rice_races.collect { |n| n / rice_total_voters.to_f } %>
<% political_races.collect { |n| n / pol_total_voters.to_f } %>
<% new_seq = seq_races.collect { |n| n / seq_total_voters.to_f } %>
<% new_seq_exp = seq_exp_races.collect { |n| n / seq_exp_total_voters.to_f } %>

<p>Political Races: <%= political_races.to_s %></p></br>
<p>Rice Races: <%= rice_races.to_s %></p></br>

<p>Seq Times: <%= new_seq.to_s %></p></br>
<p>Seq Exp Times: <%= new_seq_exp.to_s %></p></br>

<p>Males: <%= males %></p></br>
<p>Females: <%= females %></p></br>
<p>Age: <%= age / 44.to_f %></p></br>
