<div class="center jumbotron">
  <h1>New Non-Sequential Ballot</h1>
  <h2>Lists All Races</h2> 
  <%= link_to "Race 1", '/race', class: "btn btn-lg btn-primary" %>
  <%= link_to "Race 2", '/race', class: "btn btn-lg btn-primary" %>
  <%= link_to "Race 3", '/race', class: "btn btn-lg btn-primary" %>
  <%= link_to "Race 4", '/race', class: "btn btn-lg btn-primary" %>
  <%= link_to "Submit", '/', class: "btn btn-lg btn-primary" %>
</div>