<div class="center jumbotron		">
	<div class="container"> 
		<h3><%=	@ballot.instructions %></br></h3>
			<p class="text-left"><strong>To vote for the candidate of your choice</strong>, press the circle next to his/her name. The circle will turn blue.</p>
			<p class="text-left"><strong>To write in a candidate</strong>, touch "Touch here to write in a name." You will get more instructions
			on how to complete your write-in.</p>
			<p class="text-left"><strong>If you want to change your vote or make a mistake</strong>, simply touch the circle next to the candidate you do want.</p>
		<% if @ballot.organization == "s" %>
		<div class="row">
		  <div class="col-xs-6 col-md-4">
		  	<%= link_to "Back", "/", class: "btn btn-lg btn-primary btn-block" %>
		  </div>
		  <div class="col-xs-6 col-md-4"></div>
		  <div class="col-xs-6 col-md-4">
		  	<%= link_to "Start Voting", @races.first, class: "btn btn-lg btn-primary btn-block" %>
		  </div>
		</div>
		<% end %> 

		<% if @ballot.organization == "n" %>
			<%= link_to "U.S. President and Vice President", @races.first, class: "btn btn-lg btn-primary" %>
			<%= link_to "U.S. Senator", @races.second, class: "btn btn-lg btn-primary" %>
			<%= link_to "U.S. Representative", @races.third, class: "btn btn-lg btn-primary" %>
			<%= link_to "Governor", @races.fourth, class: "btn btn-lg btn-primary" %>
		<% end %> 
	</div> 
</div>

