
<%= form_for @race, url: @submit_vote, html: { class: "panel panel-default" } do |f| %>
	<div class="panel-heading">
		<div class="panel-title">
  			<h4><%= f.label @race.title%></br></h4>
  		</div>
  	</div>
  	<div class="panel-body">
	<% if @race.category == "Proposition" %>	
			<p><%= @race.description %></p>
	<% end %> 

	<ul class="list-group ">
	<% @race.candidate.each do |candidate| %>
		<%= f.fields_for "candidate[]", candidate do |builder| %>
			<%= render "candidate", :f => builder, :c => candidate %>
		<% end %> 
	<% end %> 
	</ul>

	<% if @ballot.organization == 's' %>
		<% if @ballot.races.first.id != @race.id %>
			<%= link_to "Prev", "/race/#{@race.id-1}", class: "btn btn btn-primary pull-left" %>
		<% end %>
		<%= f.submit "Next", :id => 'next' , class: "btn btn btn-primary pull-right" %>
	<% end %> 
	<% if @ballot.organization == 's_exp' %>
		<% if @ballot.races.first.id != @race.id %>
			<%= link_to "Prev", "/race/#{@race.id-1}", class: "btn btn btn-primary pull-left" %>
		<% end %>
		<%= f.submit "Next", :id => 'next_expl', class: "btn btn btn-primary pull-right"  %>
	<% end %> 
	<% if @ballot.organization == 'n' %>
		<%= link_to "Back", "/ballot/#{@ballot.id}" , class: "btn btn btn-primary pull-left" %>
		<%= f.submit "Vote", :name => 'main', :id => 'next_expl', class: "btn btn btn-primary pull-right" %>
	<% end %> 
	<% if @ballot.organization == 's_after' || @ballot.organization == 's_expl_after' %>
		<%= link_to "Back", "/ballot/#{@ballot.id}" , class: "btn btn btn-primary pull-left" %>
		<%= f.submit "Vote", :name => 'main', :id => 'next_expl', class: "btn btn btn-primary pull-right" %>
	<% end %> 
	</div>
<% end %>

