<%= form_for @race, url: @submit_vote, :html => {:class => "form-horizontal "} do |f| %>
	<div class="form-group">
  	<%= f.label @race.title,  class: "page-header" %></br>
	<% if @race.category == "Proposition" %>
		<div class="col-md-8">
		<%= @race.description %>
		</div>
	<% end %> 
	</div>
	<div class="radio-group">
	<% @race.candidate.each do |candidate| %>
		<%= f.fields_for "candidate[]", candidate do |builder| %>
			<%= render "candidate", :f => builder, :c => candidate %>
		<% end %> 
	<% end %> 
	</div>
	<br>
	<div class="form-group">
	<% if @ballot.organization == 's' %>
		<% if @ballot.races.first.id != @race.id %>
			<%= link_to "Prev", "/race/#{@race.id-1}", class: "btn btn btn-primary pull-left" %>
		<% end %>
		<%= f.submit "Next", :id => 'next' , class: "btn btn btn-primary pull-right" %>
	<% end %> 
	<% if @ballot.organization == 's_exp' %>
		<% if @ballot.races.first.id != @race.id %>
			<%= link_to "Prev", "/race/#{@race.id-1}", class: "btn btn btn-primary pull-left" %>
		<% end %>
		<%= f.submit "Next", :id => 'next_expl', class: "btn btn btn-primary pull-right"  %>
	<% end %> 
	<% if @ballot.organization == 'n' %>
		<%= link_to "Back", "/ballot/#{@ballot.id}" , class: "btn btn btn-primary pull-left" %>
		<%= f.submit "Vote", :name => 'main', :id => 'next_expl', class: "btn btn btn-primary pull-right" %>
	<% end %> 
</div>
<% end %>

