<div class="container">
	<h3><%= @race.title %></h3>
	<div class="jumbotron">
		<div class="radio">
		  <label><input type="radio" name="opt1"><%=	@race.race_type %></label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="opt2"><%=	@race.race_type %></label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="opt3"><%=	@race.race_type %></label>
		</div>
			<div class="radio">
		  <label><input type="radio" name="opt4"><%=	@race.race_type %></label>
		</div>
	</div> 

	<%= link_to "Main", 'ballot' , class: "btn btn-lg btn-primary" %>

</div>


