<<<<<<< HEAD
<div class="container center">
	<h3><%= @race.title %></h3>
	<div class="jumbotron">
		<div class="radio">
		  <label><input type="radio" name="opt1"><%=	@race.race_type %></label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="opt2"><%=	@race.race_type %></label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="opt3"><%=	@race.race_type %></label>
		</div>
			<div class="radio">
		  <label><input type="radio" name="opt4"><%=	@race.race_type %></label>
		</div>
	</div> 

	<%= link_to "Next", @race.first , class: "btn btn-lg btn-primary" %>

</div>


=======
<%=	@race.title %></br>
<%=	@race.race_type %></br>
<% @race.candidate.each do |c| %>
	<%= c.name %> <%= c.party %></br>
<% end %>
>>>>>>> fb93248195af33ed02464cb15ddf644a3b4a0b5d
