<div class="container-fluid">
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title"><%= @race.title %></h3>
  		</div>
	  	<div class="panel-body">
		    	<% @race.candidate.each do |c| %>
		    		<div class="radio">
		    			<label><input type="radio" name="#{c}"><%= c.name %> <%= c.party %></br></label>
		    		</div>	
				<% end %>
	  	</div>
	  	<nav>
		  <ul class="pager">
		  	<% if @ballot.races.first.id != @race.id %>
		  		<li class="previous"><%= tag("a", href:"/race/#{@race.id - 1}") %><span aria-hidden="true">&larr;</span> Previous</a></li>
		  	<% end %>
		    <li class="next"><%= tag("a", href:"/race/#{@race.id}/submit_vote_and_go_to_next_race") %>Next <span aria-hidden="true">&rarr;</span></a></li>
		  </ul>
		</nav>
	</div>	
</div>



